<header class="navbar border-bottom">
  <h4 class="ms-3 p-2"><%= link_to "Wikinimous", articles_path %></h4>
  <h5 class="me-3 p-2"><%= link_to "New Article", new_article_path %></h5>
</header>

<div class="container">
  <h1>Edit: <%= @article.title %></h1>

  <%= render 'form', article: @article %>

  <%= link_to "Return to Articles", articles_path %>

</div>
